# Dataset
dataset/
*.zip
*.rar
*.7z

# Python environment
venv/
.env/
__pycache__/
*.pyc

# Generated CSV files
features.csv
features_binary.csv
labels.csv
labels_binary.csv

# Old Random Forest model files
model/*.pkl

# Keep MobileNetV2 model files
!model/mobilenet_composition_model.h5
!model/mobilenet_label_classes.npy

# System files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml